{% extends "MiniTwit/layout.html" %}
{% block title %}
  {% if view == 'public_timeline' %}
    Public Timeline
  {% elif view == 'profile_user_timeline' %}
    {{ user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title }}</h2>
  {% if user %}
    {% if view == 'profile_user_timeline' %}
      <div class=followstatus>
      {% if user.id == profile_user.id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class="unfollow" href="{% url 'unfollow-user' profile_user.username %}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class="follow" href="{% url 'follow-user' profile_user.username %}">Follow user</a>.
      {% endif %}
      </div>
    {% else %}
      <div class=twitbox>
        <h3>What's on your mind {{ g.user.username }}?</h3>
        <form action="{% url 'MiniTwit:add-message' %}" method=post>
          {% csrf_token %}
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
    {% for message in messages_page %}
      <li><img src="{{ message.email }}"><p>
        <strong><a href="{% url 'MiniTwit:user-profile-timeline' message.author_id %}">{{ message.author.username }}</a></strong>
        {{ message.text }}
        <small>&mdash; {{ message.pub_date }}</small>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
        {% if messages_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ messages_page.previous_page_number }}">previous</a>
        {% endif %}
  
        <span class="current-page">
            Page {{ messages_page.number }} of {{ messages_page.paginator.num_pages }}.
        </span>
  
        {% if messages_page.has_next %}
            <a href="?page={{ messages_page.next_page_number }}">next</a>
            <a href="?page={{ messages_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  
{% endblock %}
